section {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 1000;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

section img {
  width: 100px;
}
